.header{
    padding-top: 1rem;
    padding-bottom: 1rem;

    .nav-menu{
        display: flex;
        justify-content: flex-end;
        
        li{
            margin-left: 2rem;
            a{
                height: 100%;
                color: #ddd;
                display: flex;
                align-items: center;

                &:hover{
                    color: #fff;
                    text-shadow: 2px 2px 0px #00681b;
                }
            }
        }
    }
}