<header class="header">
    <div class="row">
        <div class="col-md-2">
            <a [routerLink]="['']" alt="Home" title="Home"><img src="assets/imgs/logo-bb.png" alt="Breaking Bad"
                    title="Breaking Bad" /></a>
        </div>
        <ul class="col-md-10 nav-menu">
            <li><a [routerLink]="['/personagens']" alt="Personagens" title="Personagens">Personagens</a></li>
            <li><a [routerLink]="['/contato']" alt="Contato" title="Contato">Contato</a></li>
        </ul>
    </div>
</header>