<footer>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 align-center">
            <img src="assets/imgs/logo-bb.png" alt="Breaking Bad" title="Breaking Bad" />
        </div>
        <div class="col-md-4"></div>
    </div>
</footer>