<div class="caixa-conteudo">
    <div class="form">
        <p>survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
            software like Aldus PageMaker including versions of Lorem Ipsum
        </p>

        <p><input type="text" [(ngModel)]="informacoes.var1" placeholder="Teste 1"></p>
        <p><input type="text" [(ngModel)]="informacoes.var2" placeholder="Teste 2"></p>
        <p><input type="text" [(ngModel)]="informacoes.var3" placeholder="Teste 3"></p>
        <p><input type="text" [(ngModel)]="informacoes.var4" placeholder="Teste 4"></p>
        <p><textarea [(ngModel)]="informacoes.var5" placeholder="Teste 5"></textarea></p>
        <button class="btn" (click)="Funcao()">Enviar</button>
    </div>
</div>