.caixa-conteudo{
    padding: 1rem;
    padding-bottom: 0;
    background-color: #999;
    overflow: hidden;
    border-radius: .25rem;

    p{
        font-size: 1rem;
        margin-bottom: 1rem;
        line-height: 1.5rem;

        input, textarea{
            width: 100%;
            padding: 0.5rem 1rem;
            border-radius: .5rem;
            border: 0;
        }
    }

    .btn{
        background-color: #00681b;
        border: 0px;
        border-radius: .5rem;
        padding: 0.5rem 1rem;
        color: whitesmoke;
        margin: auto;
        position: relative;
        display: block;
        margin-bottom: 1rem;
    }
}