<div class="box-interna">
    <figure class="thumb-img" [ngStyle]="{'background-image': 'url(' + resposta.img + ')'}">
    </figure>
    <div class="content-interna">
        <h1 class="titulo">{{resposta.name}}</h1>
        <p>Conhecido como: {{resposta.nickname}}</p>
        <p>Aniversário: {{resposta.birthday}}</p>
        <p>Ocupação: {{resposta.occupation[0]}}</p>
        <p>Status: {{resposta.status}}</p>
        <p>Ataução: {{resposta.portrayed}}</p>
    </div>
</div>