<app-header></app-header>
<section class="content">
    <div class="row">
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>

        <div class="col-md-3">
            <app-sidebar></app-sidebar>
        </div>

    </div>
</section>

<app-footer></app-footer>