<div class="widget">
    <h3 class="titulo-sidebar">Título Sidebar</h3>
    <ul class="widget-list">
        <li class="widget-item" *ngFor="let item of menus"><a href="#">{{item}}</a></li>
    </ul>
</div>