.widget{

    .titulo-sidebar{
        position: relative;
        color: #fff;
        font-size: 1.25rem;
        margin-bottom: 1rem;

        &:before{
            content: '';
            position: absolute;
            left: -.25rem;
            top: 0;
            width: 1rem;
            height: 1rem;
            background-color: #00681b;
            z-index: -1;
        }
    }

    .widget-list{
        margin: 0 0 0.5rem;
        padding: 0;
        overflow: hidden;

        .widget-item{
            margin-bottom: .5rem;
            padding-left: 1rem;
            position: relative;

            &:before{
                content: '';
                position: absolute;
                width: .25rem;
                height: .25rem;
                background-color: #00681b;
                left: 0;
                top: .65rem;
            }

            a{
                color: #ddd;

                &:hover{
                    color: #fff;
                    text-shadow: 2px 2px 0px #00681b;
                }
            }
        }
    }
}