<div class="lista-personagens">

    <div class="personagem" *ngFor="let item of personagens">
        <app-personagem nome="{{item.name}}" nick="{{item.nickname}}" status="{{item.status}}" imagem="{{item.img}}"
            id_char="{{item.char_id}}">
        </app-personagem>
    </div>

</div>