/* You can add global styles to this file, and also import other style files */

/*fonts*/
@font-face {
    font-family: 'averta_semibold';
    src: url('/assets/fonts/AvertaStd-Semibold.eot');
    src: url('/assets/fonts/AvertaStd-Semibold.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/AvertaStd-Semibold.woff2') format('woff2'), url('/assets/fonts/AvertaStd-Semibold.woff') format('woff'), url('/assets/fonts/AvertaStd-Semibold.ttf') format('truetype'), url('/assets/fonts/AvertaStd-Semibold.svg#AvertaStd-Semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'averta_regular';
    src: url('/assets/fonts/AvertaStd-Regular.eot');
    src: url('/assets/fonts/AvertaStd-Regular.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/AvertaStd-Regular.woff2') format('woff2'), url('/assets/fonts/AvertaStd-Regular.woff') format('woff'), url('/assets/fonts/AvertaStd-Regular.ttf') format('truetype'), url('/assets/fonts/AvertaStd-Regular.svg#AvertaStd-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'averta_extrabold';
    font-display: swap;
    src: local('averta_extrabold'), url('/assets/fonts/AvertaStd-Extrabold.woff2') format('woff2'), url('/assets/fonts/AvertaStd-Extrabold.eot'),url('/assets/fonts/AvertaStd-Extrabold.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/AvertaStd-Extrabold.woff') format('woff'), url('/assets/fonts/AvertaStd-Extrabold.ttf') format('truetype'), url('/assets/fonts/AvertaStd-Extrabold.svg#AvertaStd-Extrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}


body{
    background-color: #000;
    font-family: averta_regular;
}

.row{
    max-width: 1170px;
    margin: 0 auto;
}

img{
    max-width: 100%;
    height: auto;
}
