.caixa-conteudo{
    padding: 1rem;
    padding-bottom: 0;
    background-color: #999;
    overflow: hidden;
    border-radius: .25rem;

    p{
        font-size: 1rem;
        margin-bottom: 1rem;
        line-height: 1.5rem;
    }
}