.item-personagem{

    .thumg-img{
        height: 16rem;
        width: 100%;
        overflow: hidden;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background-size: cover;
        background-position: top center;
    }
    .info-personagem{
        .nome{
            position: relative;
            color: #fff;
            font-size: 1.25rem;
            margin-bottom: 1rem;
    
            &:before{
                content: '';
                position: absolute;
                left: -.25rem;
                top: 0;
                width: 1rem;
                height: 1rem;
                background-color: #00681b;
                z-index: -1;
            }
        }
        p{
            color: #fff;
        }
    }
}