<a [routerLink]="['/interna-personagem', id_char]">
    <div class="item-personagem">
        <figure class="thumg-img" [ngStyle]="{'background-image': 'url(' + imagem + ')' }"></figure>
        <div class="info-personagem">
            <h3 class="nome">{{nome}}</h3>
            <p>Conhecido como: {{nick}}</p>
            <p>Status: {{status}}</p>
        </div>
    </div>
</a>